{{ $item := . }}

{{ $microdata_type := "CreativeWork" }}
{{ $show_authors_only := false }}{{/* Show authors only or full metadata? */}}
{{ $show_buttons := false }}

{{/* Dynamic view adjusts to content type. */}}
{{ if eq $item.Type "post" }}
{{ $microdata_type = "BlogPosting" }}
{{ else if eq $item.Type "talk" }}
{{ $microdata_type = "Event" }}
{{ $show_authors_only = true }}
{{ $show_buttons = true }}
{{ else if eq $item.Type "publication" }}
{{ $microdata_type = "ScholarlyArticle" }}
{{ $show_authors_only = true }}
{{ $show_buttons = true }}
{{ end }}


{{ if .Params.widgets }}

{{ partial "widget_page.html" . }}

{{ else }}

{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

{{ partial "page_header.html" . }}

{{/* Get summary. */}}
{{ $summary := "" }}
{{ if $item.Params.summary }}
{{ $summary = $item.Params.summary | markdownify | emojify }}
{{ else if .Params.abstract }}
{{ $summary = .Params.abstract | markdownify | emojify }}
{{ else if $item.Truncated }}
{{ $summary = $item.Summary }}
{{ end }}


<div class="universal-wrapper">
    {{ with .Content }}
    <div class="article-style" itemprop="articleBody">{{ . }}</div>
    {{ end }}

    {{ $paginator := .Paginate .Data.Pages }}
    {{ range $paginator.Pages }}
<div class="media stream-item" itemscope itemtype="http://schema.org/{{$microdata_type}}">
    <div class="media-body">

        <h3 class="article-title mb-0 mt-0" itemprop="name">
            <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }}</a>
        </h3>

        <div class="article-style" itemprop="articleBody">
            {{ if .Params.summary }}
            {{ .Params.summary | plainify | emojify }}
            {{ else if .Params.abstract }}
            {{ .Params.abstract | plainify | emojify | truncate 250 }}
            {{ else if .Summary }}
            {{ .Summary | plainify | emojify | truncate 135 }}
            {{ end }}
        </div>
    <div class="stream-meta article-metadata">
        <meta content="{{ .Date }}" itemprop="datePublished">
        <meta content="{{ .Lastmod }}" itemprop="dateModified">

        <div class="article-metadata">
            <span class="article-date">
                <time>{{ .Date.Format $.Site.Params.date_format }}</time>
            </span>
            <span class="middot-divider"></span>
            <span class="article-reading-time">
                {{ .ReadingTime }} {{ i18n "minute_read" }}
            </span>
        </div>
    </div>

</div>

</div>
    {{ end }}

    {{ partial "pagination" . }}
</div>


{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}

{{ end }}
